doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Objects
        .cards 
            each item in data
                .card 
                    h2.card__name #{item.properties.nombre} #{item.properties.marca}  
                    p.card__detail #{item.properties.modelo} 
        a(href='/update-cobj') Create or Update Custom Object