doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Home | HubSpot APIs
        a(href='/update-cobj') Agregar a esta tabla
        table
            thead
                tr
                    th Nombre
                    th Marca
                    th Modelo
            tbody
                each item in data
                    tr
                        td= item.properties.nombre
                        td= item.properties.marca
                        td= item.properties.modelo
